{% set navOptions = [
    {"text": "Home", "link": path('home')},
    {"text": "Over MKB", "link": path('about')},
    {"text": "Contact", "link": path('contactform_new')},
    {"text": "Vragenlijst", "link": path('fillsurvey', {'id': 1})},
]
%}

{% if navType is defined %}
    {% if navType == "header"%}
        {% set navLogo = asset('images/logo.png') %}
        {% set navBEM = "nonscrolled" %}
    {% else %}
        {% set navLogo = asset('images/logo-blacktext.png') %}
        {% set navBEM = "scrolled" %}
    {% endif %}
{% endif %}

<nav id="navigation" class="navigation navigation--{{ navBEM }}" role="navigation">
    <div class="logocontainer--nav">
        <a href="{{ path('home') }}"><img class="logo" id="navlogo" src="{{ navLogo }}" alt="logo"></a>
    </div>
    <div id="hamburger" class="hamburger hamburger--{{ navBEM }}"></div>
    <div id="navMenu" class="navmenu navmenu--{{ navBEM }} navmenu--visible">
        {% for option in navOptions %}
            <a class="navoption navoption--{{ navBEM }}" href="{{ option.link }}">{{option.text}}</a>
        {% endfor %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a class="navoption navoption--{{ navBEM }}" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="navoption navoption--{{ navBEM }}" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <a class="navoption navoption--{{ navBEM }}" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
</nav>